.main-people-list {
    background-color: #393E46;
    padding: 10px;
    border-radius: 5px;
    padding: 15px;
    margin: 0;    
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    display: flex;
    cursor: pointer;
} 

